<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152392799-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-152392799-2');
    </script>
    <script src="static/client.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon-180x180.png" />
    <link rel="stylesheet" href="static/style.css">
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>we-make.ai Demo-Projects: Detect Eye Diseases with Deep Learning</title>
    <meta property="og:title" content="Home" />
    <meta property="og:locale" content="en" />
    <meta name="description" content="Detect various eye diseases by the help of artificial intelligence (machine learning)" />
    <meta property="og:description" content="Detect various eye diseases by the help of artificial intelligence (machine learning)" />
    <link rel="canonical" href="https://detect-eye-diseases.herokuapp.com/" />
    <meta property="og:url" content="https://detect-eye-diseases.herokuapp.com/" />
    <meta property="og:site_name" content="Detect eye diseases with Deep Learning Technology" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="background-color: #63C3D1;">                
            </div>
            <div class="col-md-8">
                <div style="width: 100%;"><a href="https://www.we-make.ai"><img src="static/we-make-ai-logo.png" alt="Logo we-make.ai" width="300px"  style="float:right;"/></a></div>
                <div>
                    <hr/>
                    {% block content %} {% endblock %}
                    <hr/>
                </div>
            </div>
            <div class="col-md-2" style="background-color: #63C3D1;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="background-color: #63C3D1;">
            </div>
            <div class="col-md-8">
                <p>This is a Project for demonstrations Purposes of <strong></strong><a href="https://www.we-make.ai">we-make.ai</a> | Your AI-Consultants</strong></p>
                
                <div style="width: 100%">
                    <div style="float: left; width: 200px;">
                        <a href="https://www.amazon.de/Die-KI-Revolution-Unternehmen-Leitfaden-F%C3%BChrungskr%C3%A4fte-ebook/dp/B07RY2SXTM/ref=as_sl_pc_as_ss_li_til?tag=weiteblog-21&linkCode=w00&linkId=e3f6bfbd152c167c07f802d11e310c88&creativeASIN=B07RY2SXTM"><img src="static/we-make-ai-book.png" alt="Cover of our textbook on AI" width="150px" /></a>
                    </div>
                
                <p><span style="font-weight: bold">artificial intelligence | machine learning | deep learning | data science</span></p>
                <p>contact us: <a href="mailto:info@we-make.ai">info@we-make.ai</a></p>    
                <p>our blog in german: <a href="https://www.kuenstliche-intelligenz-in-a-nutshell.at">www.kuenstliche-intelligenz-in-a-nutshell</a></p>
                <p>... also have a look at our book on how to succeed with artificial intelligence in a business context<br/>

                <div class="table-responsive">
                    <table class="table">
                      <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 50%;">              
                      </colgroup>
                      <thead>
                        <tr>
                          <th>artificial intelligence consulting</th>
                          <th>software engineering</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>
                                You would like to see possible use cases of artificial intelligence and machine learning in your company?
                                We provide workshop to evaluate different topics and possible ai-projects to help your company generate revenue from the use of artificial intelligence!
                            </td>
                                               
                            <td>
                                You would like to implement a certain ai-topic and are looking for software engineers with experience in artificial intelligence and machine learning? <br/>
                                We will guide you on your ai-journey and implement state-of-the-art machine learning software solutions.
                        
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                
                   
                </p>
                </div>
            </div>
            <div class="col-md-2" style="background-color: #63C3D1;">
            </div>
        </div>

    </div>
</body>
</html>
